.cvg-esdeveniment-titol {
    font-weight: bold;
}

.cvg-esdeveniment-llocs_fk {
    font-style: italic;
}


.cvg-actuacion {
    margin-bottom: 10px;
}

.cvg-actuacion-titol {
    font-weight: bold;
}

.cvg-actuacion-llocs_fk {
    font-style: italic;
}


.cvg-missatge {
    margin-bottom: 10px;
}

.cvg-missatge-titol {
    font-weight: bold;
}

.cvg-missatge-llocs_fk {
    font-style: italic;
}

.cvg-error {
    font-weight: bold;
    color: red;
}