td.right {
  text-align: right;
}

.form-group {
    margin-bottom: 10px;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}
.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.dependent-search .tt-dropdown-menu {
max-height: 150px;
overflow-y: auto;
}

.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
}

.cvg-esdeveniment-titol {
    font-weight: bold;
}

.cvg-esdeveniment-llocs_fk {
    font-style: italic;
}


.cvg-actuacion {
    margin-bottom: 10px;
}

.cvg-actuacion-titol {
    font-weight: bold;
}

.cvg-actuacion-llocs_fk {
    font-style: italic;
}


.cvg-missatge {
    margin-bottom: 10px;
}

.cvg-missatge-titol {
    font-weight: bold;
}

.cvg-missatge-llocs_fk {
    font-style: italic;
}

.cvg-error {
    font-weight: bold;
    color: red;
}