.highlight tbody tr.even, tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.highlight tbody tr.odd, tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

tr.even {
	background-color: #C3D3FF;
}

.highlight_row tr.even td.sorting_1 {
	background-color: #DDFF75;
}

.highlight_row tr.even td.sorting_2 {
	background-color: #E7FF9E;
}

.highlight_row tr.even td.sorting_3 {
	background-color: #E2FF89;
}

.highlight_row tr.odd {
	background-color: #E6FF99;
}

.highlight_row tr.odd td.sorting_1 {
	background-color: #D6FF5C;
}

.highlight_row tr.odd td.sorting_2 {
	background-color: #E0FF84;
}

.highlight_row tr.odd td.sorting_3 {
	background-color: #DBFF70;
}
